body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 화면 전체 높이 */
    margin: 0; /* 기본 여백 제거 */
}


.container {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 40px;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;     /* 패딩과 테두리를 포함한 너비 계산 */
    text-align: center;     /* 이름, 설명, 목차를 가운데 정렬 */
}


h1 {
    font-size: 2.0em;
    margin-top: 0; /* 제목 위 여백 제거 */
}


p {
    line-height: 1.8; /* 설명 줄 간격 */
    font-size: 15px
}


.item {
    border: 1px solid gray;    /*항목별 테두리 */
    padding: 8px 15px;         /* 틀 안쪽 여백 */
    display: inline-block;       /* 패딩과 테두리 적용을 위해 */
    margin: 5px;               /* 항목간 여백 */
    border-radius: 4px;        /* 약간 둥근 모서리 */
    width: 160px;             /* 고정 너비 */
    box-sizing: border-box; 
    text-align: center;      
    text-decoration: none;      /* 밑줄 제거 */
    color: black;           /* 텍스트 색상 */
}