body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto; /* 스크롤이 생기려면 auto로 해야 함 */
}

/*전체 구조*/
.recommand_page {
    /*수직분할 (아티스트/곡)*/
    display: flex;
    flex-direction: column;

    /*크기 설정*/
    max-width: 1000px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px; /* 모서리 둥글게 */
    padding: 40px;
    margin: 0;
}

/*타이틀*/
.main_title {
    font-size: 3.5em; /* 제목 크기 키우기 */
    margin-top: 0;
    color: black;
    text-align: center;
}

.artist_section {
    display: flex;
    align-items: center;
    gap : 50px; /*아티스트 사진, 텍스트 간격*/
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px; /*recommand_page의 패딩과 중복 막음*/
    margin-bottom: 40px; /*songs_section과 띄우기*/
}

/*아티스트 사진 크기*/
.artist_photo {
    width: 200px;
    height: 200px;
    flex-shrink: 0; /*flex item 크기가 줄어들지 않도록 보호*/
    overflow: hidden; /* 이미지가 넘치는 부분 자르기 */
}
.artist_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*아티스트 소개*/
.artist_info {
    flex-grow: 1; /*아티스트 사진 제외 남은 공간 텍스트가 채우도록 함*/
}
.artist_info h4, .artist_info p {
    margin: 0;
}

.songs_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2열*/
    margin-top: 40px; /*artist_section과 띄우기*/
    column-gap: 15px; /*열 간격*/
    row-gap: 60px; /*행 간격*/

    margin-left: auto;
    margin-right: auto;
    /* ******************************************* */
    
    /* 이 Grid의 최대 너비를 설정하여 중앙 정렬할 여백을 만듭니다. */
    max-width: 800px;
    width: 100%;
}

.song_item {
    width: auto;
    height: auto;
    align-items: center;
    flex-shrink: 0; /*flex item 크기가 줄어들지 않도록 보호*/
    overflow: visible; 
    
    display: flex;
    gap: 15px;
}

.song_photo {
    width: 100px;  /* 이미지 고정 크기 */
    height: 100px;
    overflow: hidden; /* 이미지가 넘치는 부분 자르기 */
    flex-shrink: 0; /* 텍스트가 길어도 이미지 크기가 줄어들지 않도록 보호 */
    border-radius: 50%; /* LP판처럼 원형으로 만들려면 추가 */
}

.song_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* 텍스트가 길어져도 이미지가 작아지지 않도록 보호 */
    flex-shrink: 0;
}

.song_info {
    flex-grow: 1; /*앨범 사진 제외 남은 공간 텍스트가 채우도록 함*/
}